<div class="header">
  <h3>Books</h3>
 </div>
   <div class="container containtop" >
  <div class="row" *ngFor='let book of books'>
    
    <div class="col-md-12"> 
      
      <div class="panel shape">
        <div class="panel-body">
          <br>
          <hr>
          <div class="row" style="padding-left: 56px;">    
              <br>
              <div class="col-md-2 col-sm-3 text-center" style="padding-top: 12px;">
                <a class="story-title" href="#"><img  [src] = 'book.imageUrl' 
                  [title] = 'book.bookName' style="width:100px;height:100px" class="rounded-circle"></a>
              </div>
              <div class="col-md-10 col-sm-9" style="padding-top: 24px;">
                <h3> {{ book.bookName }}</h3>
                <div class="row">
                  <div class="col-xs-9">
                    <h4><span class="label label-default">{{ book.authorName }}</span></h4><h4>
                    <small style="font-family:courier,'new courier'; " class="text-muted">{{ book.bookGenre }}
                      </small>
                    </h4></div>
                  <div class="col-xs-3">

                  
                    <button class="btn btn-warning" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="editBook(book)" style="margin-left: 50%; margin-right: 20px; border-radius: 5px 20px 5px;"> Edit</button>
                    <button class="btn btn-danger" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="deleteBook(book)" style="border-radius: 5px 20px 5px;"> Delete</button>
                   
                  </div>
                </div>
                <br><br>
                
              </div>
            </div>
        </div>
